body {
    background-color:black;
}
/**/
#container {
    background-color:white;
    color: black;
    text-align: left;
    width: 50%;
    margin: 20px auto 0 auto;
    padding: 20px;
    font-family: 'Asap', sans-serif;
}
.left-col {  
    float:left;
    width: 50%;
}
.right-col {
    float:right;
    width: 50%;
    text-align: right;
}
.clear-fix {
    clear: both;
  }
.purple{ 
      color: #A64AC9
  }
  .github{color:#A64AC9;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
}